<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=g">
    <title>Genres</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li ><a href="/home">Home</a></li>
                <li ><a href="/watchlist">Watchlist</a></li>
                <li><a href="/completed">Completed</a></li>
                <li ><a href="/reviews">Reviews</a></li>
                <li ><a href="/community">Community</a></li>

            </ul>
        </div>
        <div>
            <form action="/search" method="get">
                <input type="text" placeholder="Search Movies" name="Movies">
                <button type="submit">Go</button>
            </form>
        </div>
        <div>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <div>
        <h2>Action :</h2>
        <% if (locals.actionMovies && locals.actionMovies.length>0){ %>
            <% locals.actionMovies.forEach(actionMovie => { %>
                <div>
                    <div>
                        <img src="<%= actionMovie.MOVIE_IMAGE_URL %>" alt="">
                    </div>
                    <div> <a href="/movie/<%= actionMovie.MOVIE_ID %>"><%=actionMovie.TITLE%></a></div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No Trending Movie</p>
        <% } %>

    </div>
    <div>
        <h2>Comedy :</h2>
        <% if (locals.comedyMovies && locals.comedyMovies.length>0){ %>
            <% locals.comedyMovies.forEach(comedyMovie => { %>
                <div>
                    <div>
                        <img src="<%= comedyMovie.MOVIE_IMAGE_URL %>" alt="">
                    </div>
                    <div> <a href="/movie/<%= comedyMovie.MOVIE_ID %>"><%=comedyMovie.TITLE%></a></div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No Trending Movie</p>
        <% } %>
    </div>
    <div>
        <h2>Comedy :</h2>
        <% if (locals.romanceMovies && locals.romanceMovies.length>0){ %>
            <% locals.romanceMovies.forEach(romanceMovie => { %>
                <div>
                    <div>
                        <img src="<%= romanceMovie.MOVIE_IMAGE_URL %>" alt="">
                    </div>
                    <div> <a href="/movie/<%= romanceMovie.MOVIE_ID %>"><%=romanceMovie.TITLE%></a></div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No Trending Movie</p>
        <% } %>
    </div>
    
</body>
</html>