<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    
</head>
<body>
    <nav>
        <div id="nav">
            <a href="/home">Home</a>
            <a href="/watchlist">WatchList</a>
            <a href="/completed">Completed</a>
            <a href="/reviews">Reviews</a>
            <a href="/community">Community</a>
            <form id='search' action="/search">
                <input type="text" placeholder="Search Movies" name="Movies">
                <button type="submit">Go</button>
            </form>
            <form id="login" action="/logout" method="post">
                <button id="loginbuttton" type="submit">Logout</button>
            </form>        
        </div>
    </nav>
    <div>
        <h2>Trending Movies</h2>
        <div>
            <% if (locals.trendingMovies && locals.trendingMovies.length > 0) { %>
                <% locals.trendingMovies.forEach(Movie => { %>
                    <div>
                        <div>
                            <img src="<%= Movie.MOVIE_IMAGE_URL %>" alt="">
                        </div>
                        <div><%= Movie.TITLE %></div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No Trending Movie</p>
            <% } %>
        </div>
           <!--
        <h2>Movies Watched</h2>
        <ul>
            <% if (locals.ReviewedMovies && locals.ReviewedMovies.length>0){ %>
                <% ReviewedMovies.forEach(Movie => { %>
                    <li><img src="<%= Movie.MOVIE_IMAGE_URL%>" alt=""> <%= Movie.TITLE %> </li>
                    
                <% });  %>
                <% } else{ %>
                    <p>No Movie Reviewed</p>
                <% } %>
        </ul>        
    </div>
    <div>
        <h2>Watchlist</h2>
        <ul>
            <% if(locals.WatchlistMovies && locals.WatchlistMovies.length>0){ %>
                <% WatchlistMovies.forEach(Movie =>{ %>
                    <li><img src="<%= Movie.MOVIE_IMAGE_URL %>" alt=""> <%= Movie.TITLE %></li>
                <% }); %>
                <% } else{ %>
                    <p>No Movies in Watchlist</p>
                <% } %>
        </ul>
        
    </div>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="home.js"></script>
</body>
</html>