<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li ><a href="/home">Home</a></li>
                <li ><a href="/watchlist">Watchlist</a></li>
                <li><a href="/completed">Completed</a></li>
                <li ><a href="/reviews">Reviews</a></li>
                <li ><a href="/community">Community</a></li>

            </ul>
        </div>
        <div>
            <form action="/search" method="get">
                <input type="text" placeholder="Search Movies" name="Movies">
                <button type="submit">Go</button>
            </form>
        </div>
        <div>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <% if (locals.movieDetails){ %>
    <h1><%=locals.movieDetails.TITLE%></h1>
    
    <div>
        <div>
            <div>
                <img src="<%= locals.movieDetails.MOVIE_IMAGE_URL %>" alt="">

            </div>
        </div>
        <div>
            <div>Language :<%= movieDetails.MOVIE_LANG %>  </div>
            <div>RunTime : <%=movieDetails.RUNTIME  %></div>
            <div>IMDB RATING : <%= movieDetails.IMDB_RATING %> </div>
            <div>
                <% if (movieDetails.RATING !== null){ %>
                    Average Rating : <%=movieDetails.RATING %>
                <% } %>
            </div>
            <div><p><%= movieDetails.SYNOPSIS %></p></div>
        </div>
        <div>
            <h2>Actors </h2>

            <% if (locals.actors && locals.actors.length>0) { %>
                <% actors.forEach(actor =>{ %>
                    <div>
                        <%= actor.ARTIST_NAME %>
                    </div>
                <% }); %>
            <% }else{ %>
                <p>No Artist Involved</p>
            <% } %>


            
        </div>


        <div>
            <h2>Director</h2>
            <% if (locals.directors && locals.directors.length>0) { %>
                <% directors.forEach(director =>{ %>
                    <div>
                        <%= director.ARTIST_NAME %>
                    </div>
                <% }); %>
            <% }else{ %>
                <p>No Director Involved</p>
            <% } %>

        </div>
        <div>
            <div>
                <form action="/watchlist/<%= movieDetails.MOVIE_ID %>">

                
                <button type="submit">Add to Watchlist</button>
                </form>
                <% if (locals.message1) { %>
                    <script>
                        alert("<%= message1 %>");
                    </script>
                <% } %>

            </div>
            <div>
                <form action="/watched/<%= movieDetails.MOVIE_ID%>">
                <button type="submit">Completed</button>
                </form>
                <% if (locals.message2) { %>
                    <script>
                        alert("<%= message2 %>");
                    </script>
                <% } %>
            </div>
        </div>
        <div>
        <h3>Write Your Review here</h3>
            <form action="/submitReview/<%= movieDetails.MOVIE_ID%>">
                <input type="text" name="review" >
                <label for="score">Enter your score</label>
                <input type="number" name="score" min="1" max="10">
                <button type="submit">Enter</button>

            </form>
            <% if (locals.message3) {%>
                <script>
                    alert("<%=message3%>");
                </script>
            <% } %>
        </div>

    </div>
    <% } else { %>
        <p>Movie details not Available</p>
    <% } %>
    
    
</body>
</html>