<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <li ><a href="/home">Home</a></li>
                <li ><a href="/watchlist">Watchlist</a></li>
                <li><a href="/completed">Completed</a></li>
                <li ><a href="/reviews">Reviews</a></li>
                <li ><a href="/community">Community</a></li>

            </ul>
        </div>
        <div>
            <form action="/search" method="get">
                <input type="text" placeholder="Search Movies" name="Movies">
                <button type="submit">Go</button>
            </form>
        </div>
        <div>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <div>
        <h1>Your Reviews</h1>
        <% if(locals.reviews && locals.reviews.length>0) { %>
            <% reviews.forEach(review =>{ %>
            <div>
                <div>
                    <img src="<%= review.MOVIE_IMAGE_URL %>" alt="">
                </div>
                <div> <a href=""><%= review.TITLE %></a></div>
                <div>
                    <p><%= review.TEXT %></p>
                    <h3>Score :<%= review.SCORE %>/10</h3>
                    <p>Likes:<%= review.LIKES %></p>
                </div>

            </div>
            <% }); %>
        <% } else { %>
            <p>No Reviews Available right now</p>
        <% } %>

    </div>
    
</body>
</html>